__pycache__/# Ignorar arquivos desnecessários no build do Docker

*.pyc.git

*.pyo.gitignore

*.pydREADME.md

.PythonLICENSE

env/*.md

venv/.env

.venv/.venv

pip-log.txtvenv/

pip-delete-this-directory.txt__pycache__/

.tox/*.pyc

.coverage*.pyo

.coverage.**.pyd

.cache.pytest_cache/

nosetests.xml.coverage

coverage.xmlhtmlcov/
*.cover
*.log
.git/
.mypy_cache/
.pytest_cache/
.hypothesis/
.DS_Store
*.egg-info/
.dockerignore
Dockerfile
docker-compose.yml
README.md
*.md